<?xml version="1.0" encoding="utf-8"?>
<robot name="ur" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="ur">
    <link name="robot_base">
        <inertial>
            <origin rpy="-3.141593 3.141593 -3.141593" xyz="-0.012312 0.000048 0.066405" />
            <inertia izz="1" iyz="0" ixz="0" iyy="1" ixx="1" ixy="0" />
            <mass value="1" />
        </inertial>
        <!-- <collision name="floor">
            <origin xyz="-0.000000 -0.000000 0.023150" rpy="-3.141593 3.141593 -2.552481" />
            <geometry>
                <cylinder radius="0.056886240839958" length="0.012300089001656" />
            </geometry>
        </collision>
        <collision name="floor">
            <origin xyz="0.000000 0.000000 0.008500" rpy="-3.141592 3.141593 1.747927" />
            <geometry>
                <cylinder radius="0.072642646729946" length="0.017000352963805" />
            </geometry>
        </collision> -->
        <visual name="link1_visible">
            <origin xyz="-0.000000 -0.000000 0.014650" rpy="-3.141593 3.141593 -3.141593" />
            <geometry>
                <mesh filename="package://ur_config/meshes/ur5_link1_visible_vis_1.dae" />
            </geometry>
            <material name="link1_visible_material">
                <color rgba="0.870588 0.870588 0.870588 1.0" />
            </material>
        </visual>
        <visual name="link1_visible">
            <origin xyz="-0.000000 -0.000000 0.014650" rpy="-3.141593 3.141593 -3.141593" />
            <geometry>
                <mesh filename="package://ur_config/meshes/ur5_link1_visible_vis_2.dae" />
            </geometry>
            <material name="link1_visible_material">
                <color rgba="0.282353 0.282353 0.282353 1.0" />
            </material>
        </visual>
    </link>
    <joint name="joint0" type="revolute">
        <axis xyz="0 0 1" />
        <limit effort="200.0" lower="-6.2831854820251" upper="6.2831854820251" velocity="1.5707963705063" />
        <parent link="robot_base" />
        <child link="link0" />
        <origin xyz="0.000000 -0.000000 0.023150" rpy="-3.141593 3.141593 -3.141593" />
    </joint>
    <link name="world"/>
    <joint name="base_joint" type="fixed">
      <parent link="world"/>
      <child link="robot_base"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <axis xyz="0 0 1"/>
    </joint>
    <link name="link0">
        <inertial>
            <origin rpy="-3.141593 3.141593 -3.141593" xyz="-0.012312 0.000048 0.066405" />
            <inertia izz="0.09818059467752" iyz="-7.9251186174956e-05" ixz="0.0024490834762624" iyy="0.10672965841326" ixx="0.095492165355254" ixy="8.9516803607533e-05" />
            <mass value="2.5" />
        </inertial>
        <!-- <collision name="link0">
            <origin xyz="-0.007178 0.000095 0.070381" rpy="-3.141593 3.141593 -3.141593" />
            <geometry>
                <mesh filename="package://ur_config/meshes/ur5_link0_coll_1.dae" />
            </geometry>
        </collision>
        <collision name="link0">
            <origin xyz="-0.007178 0.000095 0.070381" rpy="-3.141593 3.141593 -3.141593" />
            <geometry>
                <mesh filename="package://ur_config/meshes/ur5_link0_coll_2.dae" />
            </geometry>
        </collision>
        <collision name="link0">
            <origin xyz="-0.007178 0.000095 0.070381" rpy="-3.141593 3.141593 -3.141593" />
            <geometry>
                <mesh filename="package://ur_config/meshes/ur5_link0_coll_3.dae" />
            </geometry>
        </collision> -->
        <visual name="link2_visible">
            <origin xyz="-0.007150 0.000000 0.070335" rpy="-3.141593 3.141593 -3.141593" />
            <geometry>
                <mesh filename="package://ur_config/meshes/ur5_link2_visible_vis_1.dae" />
            </geometry>
            <material name="link2_visible_material">
                <color rgba="0.282353 0.282353 0.282353 1.0" />
            </material>
        </visual>
        <visual name="link2_visible">
            <origin xyz="-0.007150 0.000000 0.070335" rpy="-3.141593 3.141593 -3.141593" />
            <geometry>
                <mesh filename="package://ur_config/meshes/ur5_link2_visible_vis_2.dae" />
            </geometry>
            <material name="link2_visible_material">
                <color rgba="0.535294 0.535294 0.535294 1.0" />
            </material>
        </visual>
        <visual name="link2_visible">
            <origin xyz="-0.007150 0.000000 0.070335" rpy="-3.141593 3.141593 -3.141593" />
            <geometry>
                <mesh filename="package://ur_config/meshes/ur5_link2_visible_vis_3.dae" />
            </geometry>
            <material name="link2_visible_material">
                <color rgba="0.508235 0.761224 0.903529 1.0" />
            </material>
        </visual>
    </link>
    <joint name="joint1" type="revolute">
        <axis xyz="0 0 1" />
        <limit effort="200.0" lower="-6.2831854820251" upper="6.2831854820251" velocity="1.5707963705063" />
        <parent link="link0" />
        <child link="link1" />
        <origin xyz="-0.070300 0.000000 0.066050" rpy="0.000000 -1.570796 0.000000" />
    </joint>
    <link name="link1">
        <inertial>
            <origin rpy="0.000000 1.570796 0.000000" xyz="0.215595 -0.000035 0.063573" />
            <inertia izz="0.067345368316432" iyz="-0.00017721757850982" ixz="-0.0052638063542259" iyy="0.63325135224174" ixx="0.62573305153059" ixy="9.2431180680848e-06" />
            <mass value="5.6999998092651" />
        </inertial>
        <!-- <collision name="link1">
            <origin xyz="0.212550 -0.000115 0.064235" rpy="0.000000 1.570796 0.000000" />
            <geometry>
                <mesh filename="package://ur_config/meshes/ur5_link1_coll_1.dae" />
            </geometry>
        </collision>
        <collision name="link1">
            <origin xyz="0.212550 -0.000115 0.064235" rpy="0.000000 1.570796 0.000000" />
            <geometry>
                <mesh filename="package://ur_config/meshes/ur5_link1_coll_2.dae" />
            </geometry>
        </collision>
        <collision name="link1">
            <origin xyz="0.212550 -0.000115 0.064235" rpy="0.000000 1.570796 0.000000" />
            <geometry>
                <mesh filename="package://ur_config/meshes/ur5_link1_coll_3.dae" />
            </geometry>
        </collision>
        <collision name="link1">
            <origin xyz="0.212550 -0.000115 0.064235" rpy="0.000000 1.570796 0.000000" />
            <geometry>
                <mesh filename="package://ur_config/meshes/ur5_link1_coll_4.dae" />
            </geometry>
        </collision>
        <collision name="link1">
            <origin xyz="0.212550 -0.000115 0.064235" rpy="0.000000 1.570796 0.000000" />
            <geometry>
                <mesh filename="package://ur_config/meshes/ur5_link1_coll_5.dae" />
            </geometry>
        </collision>
        <collision name="link1">
            <origin xyz="0.212550 -0.000115 0.064235" rpy="0.000000 1.570796 0.000000" />
            <geometry>
                <mesh filename="package://ur_config/meshes/ur5_link1_coll_6.dae" />
            </geometry>
        </collision>
        <collision name="link1">
            <origin xyz="0.212550 -0.000115 0.064235" rpy="0.000000 1.570796 0.000000" />
            <geometry>
                <mesh filename="package://ur_config/meshes/ur5_link1_coll_7.dae" />
            </geometry>
        </collision> -->
        <visual name="link3_visible">
            <origin xyz="0.212550 0.000000 0.064217" rpy="-0.000000 1.570796 0.000000" />
            <geometry>
                <mesh filename="package://ur_config/meshes/ur5_link3_visible_vis_1.dae" />
            </geometry>
            <material name="link3_visible_material">
                <color rgba="0.870588 0.870588 0.870588 1.0" />
            </material>
        </visual>
        <visual name="link3_visible">
            <origin xyz="0.212550 0.000000 0.064217" rpy="-0.000000 1.570796 0.000000" />
            <geometry>
                <mesh filename="package://ur_config/meshes/ur5_link3_visible_vis_2.dae" />
            </geometry>
            <material name="link3_visible_material">
                <color rgba="0.508235 0.761224 0.903529 1.0" />
            </material>
        </visual>
        <visual name="link3_visible">
            <origin xyz="0.212550 0.000000 0.064217" rpy="-0.000000 1.570796 0.000000" />
            <geometry>
                <mesh filename="package://ur_config/meshes/ur5_link3_visible_vis_3.dae" />
            </geometry>
            <material name="link3_visible_material">
                <color rgba="0.535294 0.535294 0.535294 1.0" />
            </material>
        </visual>
        <visual name="link3_visible">
            <origin xyz="0.212550 0.000000 0.064217" rpy="-0.000000 1.570796 0.000000" />
            <geometry>
                <mesh filename="package://ur_config/meshes/ur5_link3_visible_vis_4.dae" />
            </geometry>
            <material name="link3_visible_material">
                <color rgba="0.282353 0.282353 0.282353 1.0" />
            </material>
        </visual>
        <visual name="link3_visible">
            <origin xyz="0.212550 0.000000 0.064217" rpy="-0.000000 1.570796 0.000000" />
            <geometry>
                <mesh filename="package://ur_config/meshes/ur5_link3_visible_vis_5.dae" />
            </geometry>
            <material name="link3_visible_material">
                <color rgba="0.535294 0.535294 0.535294 1.0" />
            </material>
        </visual>
        <visual name="link3_visible">
            <origin xyz="0.212550 0.000000 0.064217" rpy="-0.000000 1.570796 0.000000" />
            <geometry>
                <mesh filename="package://ur_config/meshes/ur5_link3_visible_vis_6.dae" />
            </geometry>
            <material name="link3_visible_material">
                <color rgba="0.508235 0.761224 0.903529 1.0" />
            </material>
        </visual>
    </link>
    <joint name="joint2" type="revolute">
        <axis xyz="0 0 1" />
        <limit effort="200.0" lower="-6.2831854820251" upper="6.2831854820251" velocity="1.5707963705063" />
        <parent link="link1" />
        <child link="link2" />
        <origin xyz="0.425100 0.000000 0.000000" rpy="-3.141593 3.141593 -3.141593" />
    </joint>
    <link name="link2">
        <inertial>
            <origin rpy="0.000000 1.570796 0.000000" xyz="0.192773 0.000015 -0.050153" />
            <inertia izz="0.035597955537677" iyz="-2.1029099787318e-05" ixz="-0.027670910392482" iyy="0.46060709235019" ixx="0.4592564485459" ixy="2.2187787147887e-06" />
            <mass value="3.9000000953674" />
        </inertial>
        <!-- <collision name="link2">
            <origin xyz="0.186773 0.000016 -0.057847" rpy="0.000000 1.570796 0.000000" />
            <geometry>
                <mesh filename="package://ur_config/meshes/ur5_link2_coll_1.dae" />
            </geometry>
        </collision>
        <collision name="link2">
            <origin xyz="0.186773 0.000016 -0.057847" rpy="0.000000 1.570796 0.000000" />
            <geometry>
                <mesh filename="package://ur_config/meshes/ur5_link2_coll_2.dae" />
            </geometry>
        </collision>
        <collision name="link2">
            <origin xyz="0.186773 0.000016 -0.057847" rpy="0.000000 1.570796 0.000000" />
            <geometry>
                <mesh filename="package://ur_config/meshes/ur5_link2_coll_3.dae" />
            </geometry>
        </collision>
        <collision name="link2">
            <origin xyz="0.186773 0.000016 -0.057847" rpy="0.000000 1.570796 0.000000" />
            <geometry>
                <mesh filename="package://ur_config/meshes/ur5_link2_coll_4.dae" />
            </geometry>
        </collision>
        <collision name="link2">
            <origin xyz="0.186773 0.000016 -0.057847" rpy="0.000000 1.570796 0.000000" />
            <geometry>
                <mesh filename="package://ur_config/meshes/ur5_link2_coll_5.dae" />
            </geometry>
        </collision> -->
        <visual name="link4_visible">
            <origin xyz="0.186650 -0.000000 -0.057850" rpy="0.000000 1.570796 0.000000" />
            <geometry>
                <mesh filename="package://ur_config/meshes/ur5_link4_visible_vis_1.dae" />
            </geometry>
            <material name="link4_visible_material">
                <color rgba="0.870588 0.870588 0.870588 1.0" />
            </material>
        </visual>
        <visual name="link4_visible">
            <origin xyz="0.186650 -0.000000 -0.057850" rpy="0.000000 1.570796 0.000000" />
            <geometry>
                <mesh filename="package://ur_config/meshes/ur5_link4_visible_vis_2.dae" />
            </geometry>
            <material name="link4_visible_material">
                <color rgba="0.535294 0.535294 0.535294 1.0" />
            </material>
        </visual>
        <visual name="link4_visible">
            <origin xyz="0.186650 -0.000000 -0.057850" rpy="0.000000 1.570796 0.000000" />
            <geometry>
                <mesh filename="package://ur_config/meshes/ur5_link4_visible_vis_3.dae" />
            </geometry>
            <material name="link4_visible_material">
                <color rgba="0.508235 0.761224 0.903529 1.0" />
            </material>
        </visual>
        <visual name="link4_visible">
            <origin xyz="0.186650 -0.000000 -0.057850" rpy="0.000000 1.570796 0.000000" />
            <geometry>
                <mesh filename="package://ur_config/meshes/ur5_link4_visible_vis_4.dae" />
            </geometry>
            <material name="link4_visible_material">
                <color rgba="0.282353 0.282353 0.282353 1.0" />
            </material>
        </visual>
        <visual name="link4_visible">
            <origin xyz="0.186650 -0.000000 -0.057850" rpy="0.000000 1.570796 0.000000" />
            <geometry>
                <mesh filename="package://ur_config/meshes/ur5_link4_visible_vis_5.dae" />
            </geometry>
            <material name="link4_visible_material">
                <color rgba="0.535294 0.535294 0.535294 1.0" />
            </material>
        </visual>
    </link>
    <joint name="joint3" type="revolute">
        <axis xyz="0 0 1" />
        <limit effort="200.0" lower="-6.2831854820251" upper="6.2831854820251" velocity="1.5707963705063" />
        <parent link="link2" />
        <child link="link3" />
        <origin xyz="0.392150 0.000000 0.000000" rpy="-3.141593 3.141593 -3.141593" />
    </joint>
    <link name="link3">
        <inertial>
            <origin rpy="0.000000 1.570796 0.000000" xyz="-0.005517 -0.000003 0.030943" />
            <inertia izz="0.087106483494915" iyz="-1.791527123899e-05" ixz="-0.0020900872562349" iyy="0.11466452218562" ixx="0.10017005794782" ixy="3.1976010243315e-06" />
            <mass value="2.5" />
        </inertial>
        <!-- <collision name="link3">
            <origin xyz="-0.007501 -0.000045 0.032830" rpy="0.000000 1.570796 0.000000" />
            <geometry>
                <mesh filename="package://ur_config/meshes/ur5_link3_coll_1.dae" />
            </geometry>
        </collision>
        <collision name="link3">
            <origin xyz="-0.007501 -0.000045 0.032830" rpy="0.000000 1.570796 0.000000" />
            <geometry>
                <mesh filename="package://ur_config/meshes/ur5_link3_coll_2.dae" />
            </geometry>
        </collision>
        <collision name="link3">
            <origin xyz="-0.007501 -0.000045 0.032830" rpy="0.000000 1.570796 0.000000" />
            <geometry>
                <mesh filename="package://ur_config/meshes/ur5_link3_coll_3.dae" />
            </geometry>
        </collision> -->
        <visual name="link5_visible">
            <origin xyz="-0.007500 -0.000000 0.032800" rpy="0.000000 1.570796 0.000000" />
            <geometry>
                <mesh filename="package://ur_config/meshes/ur5_link5_visible_vis_1.dae" />
            </geometry>
            <material name="link5_visible_material">
                <color rgba="0.282353 0.282353 0.282353 1.0" />
            </material>
        </visual>
        <visual name="link5_visible">
            <origin xyz="-0.007500 -0.000000 0.032800" rpy="0.000000 1.570796 0.000000" />
            <geometry>
                <mesh filename="package://ur_config/meshes/ur5_link5_visible_vis_2.dae" />
            </geometry>
            <material name="link5_visible_material">
                <color rgba="0.535294 0.535294 0.535294 1.0" />
            </material>
        </visual>
        <visual name="link5_visible">
            <origin xyz="-0.007500 -0.000000 0.032800" rpy="0.000000 1.570796 0.000000" />
            <geometry>
                <mesh filename="package://ur_config/meshes/ur5_link5_visible_vis_3.dae" />
            </geometry>
            <material name="link5_visible_material">
                <color rgba="0.508235 0.761224 0.903529 1.0" />
            </material>
        </visual>
    </link>
    <joint name="joint4" type="revolute">
        <axis xyz="0 0 1" />
        <limit effort="200.0" lower="-6.2831854820251" upper="6.2831854820251" velocity="1.5707963705063" />
        <parent link="link3" />
        <child link="link4" />
        <origin xyz="0.045575 -0.000000 0.039700" rpy="0.000000 1.570796 0.000000" />
    </joint>
    <link name="link4">
        <inertial>
            <origin rpy="-3.141593 3.141593 -3.141593" xyz="0.002100 0.000002 0.040669" />
            <inertia izz="0.1041509279002" iyz="3.8714712477568e-06" ixz="-0.00073245390311674" iyy="0.11739579576874" ixx="0.08179215416809" ixy="-1.5531769026879e-05" />
            <mass value="2.5" />
        </inertial>
        <!-- <collision name="link4">
            <origin xyz="0.003601 0.000045 0.042305" rpy="-3.141593 3.141593 -3.141593" />
            <geometry>
                <mesh filename="package://ur_config/meshes/ur5_link4_coll_1.dae" />
            </geometry>
        </collision>
        <collision name="link4">
            <origin xyz="0.003601 0.000045 0.042305" rpy="-3.141593 3.141593 -3.141593" />
            <geometry>
                <mesh filename="package://ur_config/meshes/ur5_link4_coll_2.dae" />
            </geometry>
        </collision>
        <collision name="link4">
            <origin xyz="0.003601 0.000045 0.042305" rpy="-3.141593 3.141593 -3.141593" />
            <geometry>
                <mesh filename="package://ur_config/meshes/ur5_link4_coll_3.dae" />
            </geometry>
        </collision> -->
        <visual name="link6_visible">
            <origin xyz="0.003600 0.000000 0.042275" rpy="-3.141593 3.141593 -3.141593" />
            <geometry>
                <mesh filename="package://ur_config/meshes/ur5_link6_visible_vis_1.dae" />
            </geometry>
            <material name="link6_visible_material">
                <color rgba="0.535294 0.535294 0.535294 1.0" />
            </material>
        </visual>
        <visual name="link6_visible">
            <origin xyz="0.003600 0.000000 0.042275" rpy="-3.141593 3.141593 -3.141593" />
            <geometry>
                <mesh filename="package://ur_config/meshes/ur5_link6_visible_vis_2.dae" />
            </geometry>
            <material name="link6_visible_material">
                <color rgba="0.508235 0.761224 0.903529 1.0" />
            </material>
        </visual>
        <visual name="link6_visible">
            <origin xyz="0.003600 0.000000 0.042275" rpy="-3.141593 3.141593 -3.141593" />
            <geometry>
                <mesh filename="package://ur_config/meshes/ur5_link6_visible_vis_3.dae" />
            </geometry>
            <material name="link6_visible_material">
                <color rgba="0.282353 0.282353 0.282353 1.0" />
            </material>
        </visual>
        <visual name="link6_visible">
            <origin xyz="0.003600 0.000000 0.042275" rpy="-3.141593 3.141593 -3.141593" />
            <geometry>
                <mesh filename="package://ur_config/meshes/ur5_link6_visible_vis_4.dae" />
            </geometry>
            <material name="link6_visible_material">
                <color rgba="0.282353 0.282353 0.282353 1.0" />
            </material>
        </visual>
    </link>
    <joint name="joint5" type="revolute">
        <axis xyz="0 0 1" />
        <limit effort="200.0" lower="-6.2831854820251" upper="6.2831854820251" velocity="1.5707963705063" />
        <parent link="link4" />
        <child link="link5" />
        <origin xyz="0.014425 0.000000 0.049175" rpy="0.000000 -1.570796 0.000000" />
    </joint>
    <link name="link5">
        <inertial>
            <origin rpy="-3.141593 3.141593 -3.141593" xyz="0.000000 -0.000000 0.076675" />
            <inertia izz="0.010054638677955" iyz="0.0" ixz="0.0" iyy="0.0058406852103875" ixx="0.0058406852103875" ixy="0.0" />
            <mass value="0.69999998807907" />
        </inertial>
        <!-- <collision name="link5">
            <origin xyz="0.000000 -0.000000 0.076675" rpy="-3.141593 3.141593 -3.141593" />
            <geometry>
                <cylinder radius="0.036602452397346" length="0.025500684976578" />
            </geometry>
        </collision> -->
        <visual name="link7_visible">
            <origin xyz="0.003860 0.000000 0.080425" rpy="0.000000 1.570796 0.000000" />
            <geometry>
                <mesh filename="package://ur_config/meshes/ur5_link7_visible_vis_1.dae" />
            </geometry>
            <material name="link7_visible_material">
                <color rgba="0.870588 0.870588 0.870588 1.0" />
            </material>
        </visual>
    </link>
  </xacro:macro>
  <gazebo>
    <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
      <parameters>$(find ur_config)/config/ros2_controllers.yaml</parameters>
      <parameters>$(find ur_config)/config/grtp.yaml</parameters>
    </plugin>
  </gazebo>
  <xacro:ur/>
</robot>