<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="motor_drive" params="use_gazebo"> 
    <ros2_control name="motor_drive" type="system">
      <xacro:if value="${use_gazebo}">  <hardware>
          <plugin>gz_ros2_control/GazeboSimSystem</plugin>
        </hardware>
      </xacro:if>
      
      <xacro:unless value="${use_gazebo}">
        <hardware>
          <plugin>ethercat_driver/EthercatDriver</plugin>
          <param name="master_id">0</param>
          <param name="control_frequency">1000</param>
        </hardware>
      </xacro:unless>
      <joint name="joint0">
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
        <state_interface name="status_word"/>
        <state_interface name="mode"/>
        <command_interface name="position"/>
        <command_interface name="effort"/>
        <command_interface name="control_word"/>
        <command_interface name="mode"/>
        <ec_module name="Leader">
          <plugin>ethercat_generic_plugins/EcCiA402Drive</plugin>
          <param name="alias">0</param>
          <param name="position">0</param>
          <param name="mode_of_operation">8</param>
          <param name="slave_config">$(find fake_ur_config)/driver_config/leader0.yaml</param>
        </ec_module>
      </joint>
      <joint name="joint1">
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
        <state_interface name="status_word"/>
        <state_interface name="mode"/>
        <command_interface name="position"/>
        <command_interface name="effort"/>
        <command_interface name="control_word"/>
        <command_interface name="mode"/>
        <ec_module name="Leader">
          <plugin>ethercat_generic_plugins/EcCiA402Drive</plugin>
          <param name="alias">0</param>
          <param name="position">1</param>
          <param name="mode_of_operation">8</param>
          <param name="slave_config">$(find fake_ur_config)/driver_config/leader1.yaml</param>
        </ec_module>
      </joint>
      <joint name="joint2">
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
        <state_interface name="status_word"/>
        <state_interface name="mode"/>
        <command_interface name="position"/>
        <command_interface name="effort"/>
        <command_interface name="control_word"/>
        <command_interface name="mode"/>
        <ec_module name="Leader">
          <plugin>ethercat_generic_plugins/EcCiA402Drive</plugin>
          <param name="alias">0</param>
          <param name="position">2</param>
          <param name="mode_of_operation">8</param>
          <param name="slave_config">$(find fake_ur_config)/driver_config/leader2.yaml</param>
        </ec_module>
      </joint>
      <joint name="joint3">
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
        <state_interface name="status_word"/>
        <state_interface name="mode"/>
        <command_interface name="position"/>
        <command_interface name="effort"/>
        <command_interface name="control_word"/>
        <command_interface name="mode"/>
        <ec_module name="Leader">
          <plugin>ethercat_generic_plugins/EcCiA402Drive</plugin>
          <param name="alias">0</param>
          <param name="position">3</param>
          <param name="mode_of_operation">8</param>
          <param name="slave_config">$(find fake_ur_config)/driver_config/leader3.yaml</param>
        </ec_module>
      </joint>
      <joint name="joint4">
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
        <state_interface name="status_word"/>
        <state_interface name="mode"/>
        <command_interface name="position"/>
        <command_interface name="effort"/>
        <command_interface name="control_word"/>
        <command_interface name="mode"/>
        <ec_module name="Leader">
          <plugin>ethercat_generic_plugins/EcCiA402Drive</plugin>
          <param name="alias">0</param>
          <param name="position">4</param>
          <param name="mode_of_operation">8</param>
          <param name="slave_config">$(find fake_ur_config)/driver_config/leader4.yaml</param>
        </ec_module>
      </joint>
      <joint name="joint5">
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
        <state_interface name="status_word"/>
        <state_interface name="mode"/>
        <command_interface name="position"/>
        <command_interface name="effort"/>
        <command_interface name="control_word"/>
        <command_interface name="mode"/>
        <ec_module name="Leader">
          <plugin>ethercat_generic_plugins/EcCiA402Drive</plugin>
          <param name="alias">0</param>
          <param name="position">5</param>
          <param name="mode_of_operation">8</param>
          <param name="slave_config">$(find fake_ur_config)/driver_config/leader5.yaml</param>
        </ec_module>
      </joint>
      
    </ros2_control>

  </xacro:macro>

  </robot>