<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="fake_ur_config">

  <xacro:arg name="use_gazebo" default="true" />

  <xacro:include filename="$(find fake_ur_config)/config/fake_ur_config.ros2_control.xacro" />
  
  <xacro:property name="use_gazebo_prop" value="$(arg use_gazebo)" />
  <xacro:motor_drive use_gazebo="${use_gazebo_prop}"/> 
  
  <xacro:include filename="$(find fake_ur_config)/config/fake_ur_config.urdf" />
</robot>