<?xml version="1.0" encoding="utf-8"?>
<robot name="auto_store_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="auto_store_manipulator">
    <link
      name="link0">
      <inertial>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <mass
          value="1" />
        <inertia
          ixx="0.5"
          ixy="0"
          ixz="0"
          iyy="0.5"
          iyz="0"
          izz="0.5" />
      </inertial>
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://auto_store_robot_moveit_config/meshes/link0.STL" />
        </geometry>
        <material
          name="">
          <color
            rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
        </material>
      </visual>
      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://auto_store_robot_moveit_config/meshes/link0.STL" />
        </geometry>
      </collision>
    </link>
    <link
      name="link1">
      <inertial>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <mass
          value="1" />
        <inertia
          ixx="0.5"
          ixy="0"
          ixz="0"
          iyy="0.5"
          iyz="0"
          izz="0.5" />
      </inertial>
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://auto_store_robot_moveit_config/meshes/link1.STL" />
        </geometry>
        <material
          name="">
          <color
            rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
        </material>
      </visual>
      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://auto_store_robot_moveit_config/meshes/link1.STL" />
        </geometry>
      </collision>
    </link>
    <link name="world"/>
    <joint name="base_joint" type="fixed">
      <parent link="world"/>
      <child link="link0"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <axis xyz="0 0 1"/>
    </joint>
    <joint
      name="joint0"
      type="prismatic">
      <origin
        xyz="0 0 1.4733"
        rpy="0 0 0" />
      <parent
        link="link0" />
      <child
        link="link1" />
      <axis
        xyz="0 0 1" />
      <limit
        lower="-1"
        upper="1"
        effort="9999999999"
        velocity="1" />
      <dynamics damping="0" friction="0"/>
    </joint>
    <link
      name="link2">
      <inertial>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <mass
          value="1" />
        <inertia
          ixx="0.5"
          ixy="0"
          ixz="0"
          iyy="0.5"
          iyz="0"
          izz="0.5" />
      </inertial>
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://auto_store_robot_moveit_config/meshes/link2.STL" />
        </geometry>
        <material
          name="">
          <color
            rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
        </material>
      </visual>
      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://auto_store_robot_moveit_config/meshes/link2.STL" />
        </geometry>
      </collision>
    </link>
    <joint
      name="joint1"
      type="revolute">
      <origin
        xyz="0.151 -5E-05 -0.63299"
        rpy="0 0 0" />
      <parent
        link="link1" />
      <child
        link="link2" />
      <axis
        xyz="0 0 1" />
      <limit
        lower="${-pi}"
        upper="${pi}"
        effort="9999999999"
        velocity="1" />
      <dynamics damping="0" friction="0"/>
    </joint>
    <link
      name="link3">
      <inertial>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <mass
          value="1" />
        <inertia
          ixx="0.5"
          ixy="0"
          ixz="0"
          iyy="0.5"
          iyz="0"
          izz="0.5" />
      </inertial>
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://auto_store_robot_moveit_config/meshes/link3.STL" />
        </geometry>
        <material
          name="">
          <color
            rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
        </material>
      </visual>
      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://auto_store_robot_moveit_config/meshes/link3.STL" />
        </geometry>
      </collision>
    </link>
    <joint
      name="joint2"
      type="revolute">
      <origin
        xyz="0.25 0 -0.01"
        rpy="0 0 0" />
      <parent
        link="link2" />
      <child
        link="link3" />
      <axis
        xyz="0 0 1" />
      <limit
        lower="${-pi}"
        upper="${pi}"
        effort="9999999999"
        velocity="1" />
      <dynamics damping="0" friction="0"/>
    </joint>
    <link
      name="link4">
      <inertial>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <mass
          value="1" />
        <inertia
          ixx="0.5"
          ixy="0"
          ixz="0"
          iyy="0.5"
          iyz="0"
          izz="0.5" />
      </inertial>
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://auto_store_robot_moveit_config/meshes/link4.STL" />
        </geometry>
        <material
          name="">
          <color
            rgba="1 0.843137254901961 0 1" />
        </material>
      </visual>
      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://auto_store_robot_moveit_config/meshes/link4.STL" />
        </geometry>
      </collision>
    </link>
    <joint
      name="joint3"
      type="revolute">
      <origin
        xyz="0.1885 0 -0.0735"
        rpy="3.1416 1.5708 0" />
      <parent
        link="link3" />
      <child
        link="link4" />
      <axis
        xyz="0 0 1" />
      <limit
        lower="${-pi}"
        upper="${pi}"
        effort="9999999999"
        velocity="1" />
      <dynamics damping="0" friction="0"/>
    </joint>
    <link
      name="link5">
      <inertial>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <mass
          value="1" />
        <inertia
          ixx="0.5"
          ixy="0"
          ixz="0"
          iyy="0.5"
          iyz="0"
          izz="0.5" />
      </inertial>
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://auto_store_robot_moveit_config/meshes/link5.STL" />
        </geometry>
        <material
          name="">
          <color
            rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
        </material>
      </visual>
      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://auto_store_robot_moveit_config/meshes/link5.STL" />
        </geometry>
      </collision>
    </link>
    <joint
      name="joint4"
      type="revolute">
      <origin
        xyz="-0.0785 0 -0.0505"
        rpy="3.1416 1.5708 0" />
      <parent
        link="link4" />
      <child
        link="link5" />
      <axis
        xyz="0 0 1" />
      <limit
        lower="${-pi}"
        upper="${pi}"
        effort="9999999999"
        velocity="1" />
      <dynamics damping="0" friction="0"/>
    </joint>
  </xacro:macro>
  <gazebo>
    <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
      <parameters>$(find auto_store_robot_moveit_config)/config/ros2_controllers.yaml</parameters>
      <parameters>$(find auto_store_robot_moveit_config)/config/grtp.yaml</parameters>
    </plugin>
  </gazebo>
  <xacro:auto_store_manipulator/>
</robot>